Configuration/xsd/architecture.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="hardware">
	  <xs:annotation><xs:appinfo><cbIcon>rack</cbIcon></xs:appinfo></xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="properties"/>
				<xs:element ref="board"/>
				<xs:element ref="variablesSet"/>
				<xs:element ref="driver"/>
				<xs:element ref="network"/>
				<xs:element ref="defaultConfiguration" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="properties">
		<xs:annotation><xs:appinfo><cbIcon>propertie</cbIcon></xs:appinfo></xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="enum">
					<xs:annotation><xs:appinfo><cbIcon>propertie</cbIcon></xs:appinfo></xs:annotation>
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:sequence>
							<xs:element name="item" type="xs:string">
								<xs:annotation><xs:appinfo><cbIcon>propertie</cbIcon></xs:appinfo></xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="properties_set"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="properties_set">
	  <xs:annotation><xs:appinfo><cbIcon>propertie</cbIcon></xs:appinfo></xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="optional"/>
			<xs:sequence>
				<xs:element ref="languages"/>
				<xs:element ref="property"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="languages">
		<xs:annotation><xs:appinfo><cbIcon>propertie</cbIcon></xs:appinfo></xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="language" type="xs:string">
					<xs:annotation><xs:appinfo><cbIcon>propertie</cbIcon></xs:appinfo></xs:annotation>
					<xs:complexType>
						<xs:attribute name="name" type="cbLang" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="property">
		<xs:annotation><xs:appinfo><cbIcon>propertie</cbIcon></xs:appinfo></xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="editionMode" type="xs:NMTOKEN" use="optional"/>
			<xs:attribute name="default" type="xs:string" use="optional"/>
			<xs:attribute name="minLength" type="xs:unsignedInt" use="optional"/>
			<xs:attribute name="maxLength" type="xs:unsignedInt" use="optional"/>
			<xs:attribute name="lowerBound" type="xs:string" use="optional"/>
			<xs:attribute name="upperBound" type="xs:string" use="optional"/>
			<xs:attribute name="size" type="xs:unsignedInt" use="optional"/>
			<xs:attribute name="if" type="xs:string" use="optional"/>
			<xs:attribute name="value" type="xs:string" use="optional"/>
			<xs:attribute name="incrementBy" type="xs:integer" use="optional"/>
			<xs:sequence>
				<xs:element minOccurs="0" ref="languages"/>
				<xs:element minOccurs="0" ref="porperties_set"/>
				<xs:element name="applied_to">
					<xs:annotation><xs:appinfo><cbIcon>propertie</cbIcon></xs:appinfo></xs:annotation>
					<xs:complexType>
						<xs:attribute name="class" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="board">
		<xs:annotation><xs:appinfo><cbIcon>reseau1</cbIcon></xs:appinfo></xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="comment" type="xs:string" use="optional"/>
			<xs:sequence>
				<xs:element name="properties">
				<xs:annotation><xs:appinfo><cbIcon>propertie</cbIcon></xs:appinfo></xs:annotation>
				<xs:complexType>
				<xs:sequence>
				<xs:element ref="properties_set"/>
				</xs:sequence>
				</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element ref="modulo"/>
				<xs:element name="variablesSet">
					<xs:annotation><xs:appinfo><cbIcon>frame2</cbIcon></xs:appinfo></xs:annotation>
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="ref" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="driver">
		<xs:annotation><xs:appinfo><cbIcon>lib</cbIcon></xs:appinfo></xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:sequence>
				<xs:element ref="variablesSet"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="modulo">
		<xs:annotation><xs:appinfo><cbIcon>frame2</cbIcon></xs:appinfo></xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" type="cbIOType" use="required"/>
			<xs:attribute name="direction" type="cbIODirection" use="optional"/>
			<xs:attribute name="channels" type="xs:integer" use="required"/>
			<xs:sequence>
				<xs:element name="properties">
					<xs:annotation><xs:appinfo><cbIcon>propertie</cbIcon></xs:appinfo></xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="properties_set"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="variablesSet">
		<xs:annotation><xs:appinfo><cbIcon>frame2</cbIcon></xs:appinfo></xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="comment" type="xs:string" use="optional"/>
			<xs:sequence>
				<xs:element name="properties">
					<xs:annotation><xs:appinfo><cbIcon>propertie</cbIcon></xs:appinfo></xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="properties_set"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="variable">
					<xs:annotation><xs:appinfo><cbIcon>frame2</cbIcon></xs:appinfo></xs:annotation>
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="type" type="xs:string" use="optional"/>
						<xs:attribute name="direction" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="network">
		<xs:annotation><xs:appinfo><cbIcon>reseau4</cbIcon></xs:appinfo></xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="comment" type="xs:string" use="optional"/>
			<xs:sequence>
				<xs:element name="properties">
					<xs:annotation><xs:appinfo><cbIcon>propertie</cbIcon></xs:appinfo></xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="properties_set"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="defaultConfiguration">
		<xs:annotation><xs:appinfo><cbIcon>preferences</cbIcon></xs:appinfo></xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="optional" />
			<xs:attribute name="networkName" type="xs:string" use="required" />
			<xs:attribute name="networkModel" type="xs:string" use="required" />
			<xs:attribute name="networkBoard" type="xs:string" use="required" />
			<xs:sequence>
				<xs:element ref="property"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="cbLang">
		<xs:restriction base="xs:string">
			<xs:enumeration value="en"/>
			<xs:enumeration value="fr"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="cbIOType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="analog"/>
			<xs:enumeration value="digital"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="cbIODirection">
		<xs:restriction base="xs:string">
			<xs:enumeration value="input"/>
			<xs:enumeration value="output"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>