Configuration/xsd/CB_Applicom.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generator: controlbuild -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Configuration">
		<xs:annotation>
			<xs:appinfo>
				<cbIcon>preferences</cbIcon>
				<cbBalloon lang="en">___________________________________________________________________________________________
Configuration: contains the global parameters.
___________________________________________________________________________________________
OPTIONAL PARAMETERS:
maxBytePerFrame: maximum number of bytes per frame.
 - it must be greater or equal to 1.

trace: 0, 1 or 2: displays the initialization and the exchanged data.
 - 0: displays only the communication errors (used for optimal performances).
 - 1: displays the communication errors and the exchanged data.
 - 2: displays the initialization, the communication errors and the exchanged data.
 
log: 0, 1, 2 or 3: write the messages of the console into a log file.
 - 0: no log written.
 - 1: writes the error messages.
 - 2: writes the error and warning messages.
 - 3: writes all messages (not recommended).</cbBalloon>
				<cbBalloon lang="fr">___________________________________________________________________________________________
Configuration : contient les paramètres globaux.
___________________________________________________________________________________________
PARAMETRES OPTIONNELS :
maxBytePerFrame : nombre maximum d'octets par trame.
 - il doit être supérieur ou égal à 1.

trace : 0, 1 ou 2 : affichage de l’initialisation et des données échangées.
 - 0 : affichage des erreurs de communication uniquement (optimise les performances).
 - 1 : affichage des erreurs de communication et des données échangées.
 - 2 : affichage de l’initialisation, des erreurs de communication et des données échangées.
 
log: 0, 1, 2 ou 3 : écrit les messages de la console dans un fichier log.
 - 0 : pas de log écrit.
 - 1 : écrit les messages d'erreur.
 - 2 : écrit les messages d'erreur et de warning.
 - 3 : écrit tous les messages (déconseillé).</cbBalloon>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Card"/>
			</xs:sequence>
			<xs:attribute name="xmlns:xsi"/>
			<xs:attribute name="xsi:noNamespaceSchemaLocation"/>
			<xs:attribute name="maxBytePerFrame" use="optional" default="212"/>
			<xs:attribute name="trace" use="optional" default="2"/>
			<xs:attribute name="log" use="optional" default="1"/>
			<xs:attribute name="logName" use="prohibited" default="C:\CB_Applicom.log"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Card">
		<xs:annotation>
			<xs:appinfo>
				<cbIcon>carte</cbIcon>
				<cbBalloon lang="en">___________________________________________________________________________________________
Card: contains the parameters of an Applicom card.
___________________________________________________________________________________________
REQUIRED PARAMETERS:
cardNumber: is the Applicom card number.
 - it must be greater or equal to 1.

trace: 0, 1 or 2: displays the content of a frame for this card.
 - 0: displays only the communication errors (used for optimal performances).
 - 1: displays the content of the frames in hexadecimal format.
 - 2: displays the content of the frames in hexadecimal format and the state of the variables of the frame.
 
 
OPTIONAL PARAMETERS:
name: name used to identify the card in the trace.
 - the first character of the name has to be a letter.
 
disable: 0 or 1: deactivates the treatment of the card by the driver.
 - 0: treated card. 
 - 1: not treated card.</cbBalloon>
				<cbBalloon lang="fr">___________________________________________________________________________________________
Carte : contient les paramètres d'une carte Applicom.
___________________________________________________________________________________________
PARAMETRES OBLIGATOIRES :
cardNumber : est le numéro de carte Applicom.
 - il doit être supérieur ou égal à 1.

trace : 0, 1 ou 2 : affichage du contenu des trames pour cette carte.
 - 0 : affichage des erreurs de communication uniquement (optimise les performances).
 - 1 : affichage du contenu des trames en hexadécimal.
 - 2 : affichage du contenu des trames en hexadécimal et de l'état des variables de la trame.
 

 PARAMETRES OPTIONNELS :
name : nom utilisé pour différencier les cartes dans la trace.
 - le nom doit commencer par une lettre.

disable : 0 ou 1 : désactive le traitement de la carte par le driver.
 - 0 : carte traitée.
 - 1 : carte non traitée.</cbBalloon>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Equipment"/>
			</xs:sequence>
			<xs:attribute name="cardNumber" use="required" default="1"/>
			<xs:attribute name="trace" use="required" default="1"/>
			<xs:attribute name="name" use="optional" default=""/>
			<xs:attribute name="disable" use="optional" default="1"/>
			<xs:attribute name="switchBytesForBytesAndBooleans" use="prohibited" default="1"/>
			<xs:attribute name="switchBytesInWords" use="prohibited" default="1"/>
			<xs:attribute name="switchWordsInDWords" use="prohibited" default="1"/>
			<xs:attribute name="switchBytesInWordsInDWords" use="prohibited" default="1"/>
			<xs:attribute name="SwitchBytesInFrame" use="prohibited" default="1"/>
			<xs:attribute name="noFrameSplit" use="prohibited" default="1"/>
			<xs:attribute name="server" use="prohibited" default="1"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Equipment">
		<xs:annotation>
			<xs:appinfo>
				<cbIcon>configurateur</cbIcon>
				<cbBalloon lang="en">___________________________________________________________________________________________
Equipment: contains the parameters of an equipment.
___________________________________________________________________________________________
REQUIRED PARAMETERS:
CB_EquipmentNumber: is the number of the card/equipment combo. 
 - it must be greater or equal to 1.
 - it must be unique in the configuration.

cardEquipmentNumber: is the number of the equipment on the card. 
 - it must be greater than or equal to 0.
 - it must be unique in the card.

channelNumber: 0 or 1: number of the channel on the card.

cycleTime: is the time between two information exchanges (read + write).
 - its unit is the millisecond and it must be greater or equal to 1.
 
tableOffsetWrite: is the offset of the write table of the inputs of the equipment.
- it must be greater or equal to 0.
 
tableOffsetRead: is the offset of the read table of the outputs of the equipment.
- it must be greater or equal to 0.
 
 
OPTIONAL PARAMETERS:
name: name used to identify the equipment in the trace.
 - the first character of the name has to be a letter.
 
DBNumberWrite: is the DB number of the equipment in which the driver writes.
- it must be greater or equal to 0.
 
DBNumberRead: is the DB number of the equipment in which the driver reads.
- it must be greater or equal to 0.
 
trace: 0, 1 or 2: displays the content of a frame for this equipment.
 - 0: displays only the communication errors (used for optimal performances).
 - 1: displays the content of the frames in hexadecimal format.
 - 2: displays the content of the frames in hexadecimal format and the state of the variables of the frame.
 
disable: 0 or 1: deactivates the treatment of the equipment by the driver.
 - 0: treated equipment.
 - 1: not treated equipment.</cbBalloon>
				<cbBalloon lang="fr">___________________________________________________________________________________________
Equipement : contient les paramètres d'un équipement.
___________________________________________________________________________________________
PARAMETRES OBLIGATOIRES :
CB_EquipmentNumber : est le numéro de combinaison carte/équipement. 
 - il doit être supérieur ou égal à 1.
 - il doit être unique dans la configuration.

cardEquipmentNumber : est le numéro de l'équipement sur la carte. 
 - il doit être supérieur ou égal à 0.
 - il doit être unique dans la carte.

channelNumber : 0 ou 1 : numéro de canal sur la carte.

cycleTime : spécifie le temps de cycle du driver (lecture + écriture vers un équipement).
 - il est exprimé en millisecondes et doit être supérieur ou égal à 1.

tableOffsetWrite : représente l’offset de la table d’écriture des entrées de l’équipement.
 - il doit être supérieur ou égal à 0.
 
tableOffsetRead : représente l'offset de la table de lecture des sorties de l’équipement.
 - il doit être supérieur ou égal à 0.
 
 
PARAMETRES OPTIONNELS :
name : nom utilisé pour différencier les équipements dans la trace.
 - le nom doit commencer par une lettre.
 
DBNumberWrite : représente le numéro de DB de l’équipement dans lequel on écrit les données.
 - il doit être supérieur ou égal à 0.
 
DBNumberRead : représente le numéro de DB de l’équipement dans lequel on lit les données.
 - il doit être supérieur ou égal à 0.
 
trace : 0, 1 ou 2 : affichage du contenu des trames pour cet équipement.
 - 0 : affichage des erreurs de communication uniquement (optimise les performances).
 - 1 : affichage du contenu des trames en hexadécimal.
 - 2 : affichage du contenu des trames en hexadécimal et de l'état des variables de la trame.

 disable : 0 ou 1 : désactive le traitement de l'équipement par le driver :
 - 0 : équipement traité.
 - 1 : équipement non traité.</cbBalloon>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="CB_EquipmentNumber" use="required" default="1"/>
			<xs:attribute name="cardEquipmentNumber" use="required" default="1"/>
			<xs:attribute name="channelNumber" use="required" default="0"/>
			<xs:attribute name="cycleTime" use="required" default="1000"/>
			<xs:attribute name="tableOffsetWrite" use="required" default="0"/>
			<xs:attribute name="tableOffsetRead" use="required" default="0"/>
			<xs:attribute name="DBNumberWrite" use="optional" default="0"/>
			<xs:attribute name="DBNumberRead" use="optional" default="0"/>
			<xs:attribute name="name" use="optional" default=""/>
			<xs:attribute name="trace" use="optional" default="1"/>
			<xs:attribute name="disable" use="optional" default="1"/>
		</xs:complexType>
	</xs:element>
</xs:schema>