Configuration/xsd/CB_Simba.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generator: controlbuild -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Configuration">
		<xs:annotation>
			<xs:appinfo>
				<cbIcon>preferences</cbIcon>
				<cbBalloon lang="en">___________________________________________________________________________________________
Configuration: contains the global parameters.
___________________________________________________________________________________________
OPTIONAL PARAMETERS:
projectPath: path of the SIMBApro project folder.
 
trace: 0, 1 or 2: displays the initialization and the exchanged data.
 - 0: displays only the communication errors (used for optimal performances).
 - 1: displays the communication errors and the exchanged data.
 - 2: displays the initialization, the communication errors and the exchanged data.
 
log: 0, 1, 2 or 3: write the messages of the console into a log file.
 - 0: no log written.
 - 1: writes the error messages.
 - 2: writes the error and warning messages.
 - 3: writes all messages (not recommended).</cbBalloon>
				<cbBalloon lang="fr">___________________________________________________________________________________________
Configuration : contient les paramètres globaux.
___________________________________________________________________________________________
PARAMETRES OPTIONNELS :
projectPath: chemin du répertoire du projet SIMBApro.

trace : 0, 1 ou 2 : affichage de l’initialisation et des données échangées.
 - 0 : affichage des erreurs de communication uniquement (optimise les performances).
 - 1 : affichage des erreurs de communication et des données échangées.
 - 2 : affichage de l’initialisation, des erreurs de communication et des données échangées.
 
log: 0, 1, 2 ou 3 : écrit les messages de la console dans un fichier log.
 - 0 : pas de log écrit.
 - 1 : écrit les messages d'erreur.
 - 2 : écrit les messages d'erreur et de warning.
 - 3 : écrit tous les messages (déconseillé).</cbBalloon>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Card" />
			</xs:sequence>
			<xs:attribute name="xmlns:xsi"/>
			<xs:attribute name="xsi:noNamespaceSchemaLocation"/>
			<xs:attribute name="projectPath" use="required" default="C:\"/>
			<xs:attribute name="trace" use="optional" default="2"/>
			<xs:attribute name="log" use="optional" default="1"/>
			<xs:attribute name="logName" use="prohibited" default="C:\CB_Simba.log"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Card">
		<xs:annotation>
			<xs:appinfo>
				<cbIcon>configurateur</cbIcon>
				<cbBalloon lang="en">___________________________________________________________________________________________
Card: contains the parameters of a SIMBApro card.
___________________________________________________________________________________________
REQUIRED PARAMETERS:
cardNumber: is the SIMBApro card number.
 - it must be greater or equal to 1.

resetTime : spécifies the time of reset of the card, after the launching  of the driver and before starting to communicate. 
            On the automaton, the light BUSxF must have stop blinking before the end of the reset time.
 - its unit is the second and it must be greater or equal to 1.

cycleTime: is the time between two information exchanges (read + write).
 - its unit is the millisecond and it must be greater or equal to 1.
 
trace: 0, 1 or 2: displays the content of a frame for this card.
 - 0: displays only the communication errors (use for optimal performances).
 - 1: displays the content of the frames in hexadecimal format.
 - 2: displays the content of the frames in hexadecimal format and the state of the variables of the frame.
 
 
OPTIONAL PARAMETERS:
name: name used to identify the card in the trace.
 - the first character of the name has to be a letter.
 
disable: 0 or 1: deactivates the treatment of the card by the driver.
 - 0: treated card.
 - 1: not treated card.</cbBalloon>
				<cbBalloon lang="fr">___________________________________________________________________________________________
Carte : contient les paramètres d'une carte SIMBApro.
___________________________________________________________________________________________
PARAMETRES OBLIGATOIRES :
cardNumber : est le numéro de carte SIMBApro.
 - il doit être supérieur ou égal à 1.

resetTime : spécifie le temps que met la carte à se réinitialiser, après le lancement du driver et avant de commencer à communiquer. 
            Sur l'automate le voyant BUSxF doit avoir cessé de clignoter avant la fin du resetTime.
 - il est exprimé en secondes et doit être supérieur ou égal à 1.

cycleTime : spécifie le temps de cycle du driver (lecture + écriture vers un équipement).
 - il est exprimé en millisecondes et doit être supérieur ou égal à 1.

trace : 0, 1 ou 2 : affichage du contenu des trames pour cette carte.
 - 0 : affichage des erreurs de communication uniquement (optimise les performances).
 - 1 : affichage du contenu des trames en hexadécimal.
 - 2 : affichage du contenu des trames en hexadécimal et de l'état des variables de la trame.
 

 PARAMETRES OPTIONNELS :
name : est le nom utilisé pour différencier les cartes dans la trace.
 - le nom doit commencer par une lettre.

disable : 0 ou 1 : désactive le traitement de la carte par le driver.
 - 0 : carte traitée.
 - 1 : carte non traitée.</cbBalloon>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Slave" />
			</xs:sequence>
			<xs:attribute name="cardNumber" use="required" default="1"/>
			<xs:attribute name="resetTime" use="required" default="30"/>
			<xs:attribute name="cycleTime" use="required" default="1000"/>
			<xs:attribute name="trace" use="required" default="1"/>
			<xs:attribute name="name" use="optional" default=""/>
			<xs:attribute name="disable" use="optional" default="1"/>
			<xs:attribute name="switchBytesForBytesAndBooleans" use="prohibited" default="1"/>
			<xs:attribute name="switchBytesInWords" use="prohibited" default="1"/>
			<xs:attribute name="switchWordsInDWords" use="prohibited" default="1"/>
			<xs:attribute name="switchBytesInWordsInDWords" use="prohibited" default="1"/>
			<xs:attribute name="SwitchBytesInFrame" use="prohibited" default="1"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Slave">
		<xs:annotation>
			<xs:appinfo>
				<cbIcon>carte</cbIcon>
				<cbBalloon lang="en">___________________________________________________________________________________________
Slave: contains the parameters of a slave.
___________________________________________________________________________________________
REQUIRED PARAMETERS:
CB_EquipmentNumber: is the number of the card/slave combo. 
 - it must be greater or equal to 1.
 - it must be unique in the configuration.

 
OPTIONAL PARAMETERS:
name: name used to identify the équipment in the trace.
 - the first character of the name has to be a letter.
 
trace: 0, 1 or 2: display the content of a frame for this slave.
 - 0: displays only the communication errors (used for optimal performances).
 - 1: displays the content of the frames in hexadecimal format.
 - 2: displays the content of the frames in hexadecimal format and the state of the variables of the frame.
 
disable: 0 or 1: deactivates the treatment of the slave by the driver.
 - 0: treated slave.
 - 1: not treated slave.</cbBalloon>
				<cbBalloon lang="fr">___________________________________________________________________________________________
Slave : contient les paramètres d'un esclave.
___________________________________________________________________________________________
PARAMETRES OBLIGATOIRES :
CB_EquipmentNumber : est le numéro de combinaison carte/esclave. 
 - il doit être supérieur ou égal à 1.
 - il doit être unique dans la configuration.


PARAMETRES OPTIONNELS :
name : nom utilisé pour différencier les esclaves dans la trace.
 - le nom doit commencer par une lettre.

trace : 0, 1 ou 2 : affichage du contenu des trames pour cet esclave.
 - 0 : affichage des erreurs de communication uniquement (optimise les performances).
 - 1 : affichage du contenu des trames en hexadécimal.
 - 2 : affichage du contenu des trames en hexadécimal et de l'état des variables de la trame.

 disable : 0 ou 1 : désactive le traitement de l'esclave par le driver :
 - 0 : esclave traité.
 - 1 : esclave non traité.</cbBalloon>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="CB_EquipmentNumber" use="required" default="1"/>
			<xs:attribute name="name" use="optional" default=""/>
			<xs:attribute name="trace" use="optional" default="1"/>
			<xs:attribute name="disable" use="optional" default="1"/>
		</xs:complexType>
	</xs:element>
</xs:schema>