Configuration/xsd/cbCustomization.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cbCustomization">
    <xs:annotation><xs:appinfo><cbIcon>preferences</cbIcon></xs:appinfo></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="editor"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="editor">
    <xs:annotation><xs:appinfo><cbIcon>environ</cbIcon></xs:appinfo></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="restrictions"/>
        <xs:element ref="toolBar"/>
        <xs:element ref="toolMenu"/>
      </xs:sequence>
      <xs:attribute name="name" type="cbEditors" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="restrictions">
    <xs:annotation><xs:appinfo><cbIcon>rondRouge</cbIcon></xs:appinfo></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mode"/>
        <xs:element ref="lang"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="mode">
    <xs:annotation><xs:appinfo><cbIcon>rondRouge</cbIcon></xs:appinfo></xs:annotation>
    <xs:complexType>
      <xs:attribute name="name" type="cbModes" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="lang">
    <xs:annotation><xs:appinfo><cbIcon>rondRouge</cbIcon></xs:appinfo></xs:annotation>
    <xs:complexType>
      <xs:attribute name="name" type="cbLang" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="toolBar">
    <xs:annotation><xs:appinfo><cbIcon>rondVert</cbIcon></xs:appinfo></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="button"/>
        <xs:element ref="buttonMenu"/>
        <xs:element ref="separator"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="toolMenu">
    <xs:annotation><xs:appinfo><cbIcon>rondVert</cbIcon></xs:appinfo></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="button"/>
        <xs:element ref="buttonMenu"/>
        <xs:element ref="separator"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="buttonMenu">
    <xs:annotation><xs:appinfo><cbIcon>rondVert</cbIcon></xs:appinfo></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="button"/>
        <xs:element ref="buttonMenu"/>
        <xs:element ref="separator"/>
      </xs:sequence>
      <xs:attribute name="icon" type="xs:string" use="optional"/>
      <xs:attribute name="text" type="xs:string" use="optional"/>
      <xs:attribute name="balloon" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="button">
    <xs:annotation><xs:appinfo><cbIcon>rondJaune</cbIcon></xs:appinfo></xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="text"/>
        <xs:element ref="balloon"/>
      </xs:sequence>
      <xs:attribute name="icon" type="xs:string" use="optional"/>
      <xs:attribute name="script" type="xs:string" use="required"/>
      <xs:attribute name="hide" type="xs:boolean" use="optional"/>
      <xs:attribute name="wait" type="xs:boolean" use="optional"/>
      <xs:attribute name="interpretReturn" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="separator">
    <xs:annotation><xs:appinfo><cbIcon>rondJaune</cbIcon></xs:appinfo></xs:annotation>
  </xs:element>

  <xs:element name="text" type="xs:string">
    <xs:annotation><xs:appinfo><cbIcon>rondOrange</cbIcon></xs:appinfo></xs:annotation>
    <xs:complexType>
      <xs:attribute name="lang" type="cbLang" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="balloon" type="xs:string">
    <xs:annotation><xs:appinfo><cbIcon>rondOrange</cbIcon></xs:appinfo></xs:annotation>
    <xs:complexType>
      <xs:attribute name="lang" type="cbLang" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="cbEditors">
    <xs:restriction base="xs:string">
	  <xs:enumeration value="main"/>
	  <xs:enumeration value="behavior"/>
	  <xs:enumeration value="tree"/>
	  <xs:enumeration value="functional"/>
	  <xs:enumeration value="architecture"/>
	  <xs:enumeration value="communication"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cbLang">
    <xs:restriction base="xs:string">
	  <xs:enumeration value="en"/>
	  <xs:enumeration value="fr"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cbModes">
    <xs:restriction base="xs:string">
	  <xs:enumeration value="embedded"/>
	  <xs:enumeration value="application generator"/>
	  <xs:enumeration value="design"/>
	  <xs:enumeration value="validation"/>
	  <xs:enumeration value="monitor"/>
	  <xs:enumeration value="engine"/>
    </xs:restriction>
  </xs:simpleType> 
</xs:schema>