Configuration/xsd/network_io_patterns.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="NetworkIOCodeGenerationConfiguration">
		<xs:annotation>
			<xs:documentation>Contains patterns declaration for IO code generation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="ENUM"></xs:element>
				<xs:element maxOccurs="unbounded" ref="Network"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ENUM">
		<xs:annotation>
			<xs:documentation>Declaration of an enumerated type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="ITEM"></xs:element>
			</xs:sequence>
			<xs:attribute name="NAME" type="xs:string" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="ITEM" type="xs:string">
		<xs:annotation>
			<xs:documentation>An item of an enumeration</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="Network">
		<xs:annotation>
			<xs:documentation>Nertwork variables list</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="NetworkVariable"></xs:element>
				<xs:element minOccurs="1" maxOccurs="1" ref="NetworkIOPatterns"></xs:element>
			</xs:sequence>
			<xs:attribute name="PROTOCOL" type="xs:string" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="NetworkVariable">
		<xs:annotation>
			<xs:documentation>Contains the label for one language</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" ref="Performer"></xs:element>
			</xs:sequence>
			<xs:attribute name="Tag" type="xs:string" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Performer">
		<xs:annotation>
			<xs:documentation>Data accessor</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Receiver" type="receivers" use="required"></xs:attribute>
			<xs:attribute name="Selector" type="selectors" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="NetworkIOPatterns">
		<xs:annotation>
			<xs:documentation>Definition of a property</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" ref="NetworkInputPattern"></xs:element>
				<xs:element minOccurs="1" maxOccurs="1" ref="NetworkOutputPattern"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="NetworkInputPattern" type="xs:string">
		<xs:annotation>
			<xs:documentation>Contains the pattern for input functions</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NetworkOutputPattern" type="xs:string">
		<xs:annotation>
			<xs:documentation>Contains the pattern for output functions</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:simpleType name="receivers">
		<xs:restriction base="xsd:string">
			<xs:enumeration value="currentIO"/>
			<xs:enumeration value="currentNetwork"/>
			<xs:enumeration value="currentFrame"/>
			<xs:enumeration value="currentSignal"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="selectors">
			<xs:restriction base="xsd:string">
				<xs:enumeration value="name"/>
				<xs:enumeration value="identifier"/>
				<xs:enumeration value="index"/>
				<xs:enumeration value="basicType"/>
				<xs:enumeration value="type"/>
				<xs:enumeration value="size"/>				
				<xs:enumeration value="protocol"/>
				<xs:enumeration value="bit"/>
				<xs:enumeration value="byte"/>
				<xs:enumeration value="startBit"/>
				<xs:enumeration value="length"/>
				<xs:enumeration value="indian"/>
				<xs:enumeration value="isSigned"/>
				<xs:enumeration value="resolution"/>
				<xs:enumeration value="offset"/>
				<xs:enumeration value="minValue"/>
				<xs:enumeration value="maxValue"/>				
			</xs:restriction>
	</xs:simpleType>
</xs:schema>
